#!/bin/bash

# lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# To let pyenv play nice with brew@
alias brew='env PATH=${PATH//*shims:/} brew'

# reload shell
alias reload="source ~/.zshrc"
alias reload!='RELOAD=1 source ~/.zshrc'

# remove broken symlinks
alias clsym="find -L . -name . -o -type d -prune -o -type l -exec rm {} +"

# recursively delete __pycache__ dir files (exclude .venv)
alias pyclean='find . -type d -name ".venv" -prune -o -name __pycache__ -ls -exec rm -r {} \+'

# copy pwd to clipboard
alias cwd="pwd|tr -d '\n'|pbcopy"

# file size
alias fs="stat -f \"%z bytes\""

# paths by column
alias paths='echo -e ${PATH//:/\\n}'

# network
alias ipp="dig +short myip.opendns.com @resolver1.opendns.com"
alias ipl="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias whois="whois -h whois-servers.net"
alias hosts="sudo $EDITOR /etc/hosts"
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"
